
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: ($space / 3) $space;

@mixin btnStyle( $bg, $color: #fff ) {
    color: $color;
    background: $bg;

    &:hover,
    &:focus {

    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: $BTN_PADDING;
    border: 0;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black;
    font-weight: bold;
    border-radius: 100px;
    background: $black20;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.btn--block {
    width: 100%;
}

.btn--trans {
    background: transparent;
}

.btn--white {
    background: $white;
    
    &:hover,
    &:focus {
        //color: lighten($brand_blue, 40%);
        background: $black20;
    }
}

.btn--blue {
    background: $brand_blue;
    color: $white;

    &:hover,
    &:focus {
        color: lighten($brand_blue, 40%);
        background: darken($brand_blue, 5%);
    }
}