/* Article List */

.article-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.article-list-item {
	width: 45%;
	overflow: hidden;
	margin-bottom: $space;

	@media #{$large} {
		width: 30%;
		height: $space * 7;
	}
}

.article-list-anchor {
	position: relative;
	color: currentcolor;

	&:hover, &:focus {
		color: currentcolor;
	}
	
	@media #{$large} {
		display: table;
		flex-wrap: nowrap;
	}
}

.article-list-img-container {
	margin-bottom: $space / 2;
	overflow: hidden;
	float: left;
	width: 100%;
	//height: 125px;
	
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	@media #{$large} {
		width: 125px;
		height: 125px;
		display: table-cell;
		margin-right: $space / 2;
	}
}

.article-list-content-container {
	@media #{$large} {
		display: table-cell;
		vertical-align: top;
	}
}

.article-list-img {
	width: 100%;
	transition: transform .4s ease;

	.article-list-anchor:hover & {
		transform: scale(1.3);
	}
}

.article-list-title {
	font-size: 16px;
	margin-bottom: $space / 4;
	transition: color .4s ease;

	.article-list-anchor:hover & {
		color: $brand_blue;
	}
}

.article-list-date {
	display: block;
	margin-bottom: $space / 4;
}

.article-list-content {
	margin-bottom: 0;
	display: none;
	font-size: 14px;
	
	@media #{$large} {
		display: block;
	}
}

/* Article Detail */

