
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: ($space / 3) $space;

@mixin btnStyle( $bg, $color: #fff ) {
    color: $color;
    background: $bg;

    &:hover,
    &:focus {

    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: $BTN_PADDING;
    position: relative;
    border: 0;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black80;
    background: #ddd;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    &:hover, &:focus {
        background: darken($brand_blue, 10%);
    }

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.btn--block {
    width: 100%;
}

.btn--blue {
    background: $brand_blue;
    color: $white;
}

.btn--back {
    display: none;
    padding: 10px;
    width: $base_font_size * 3.5;
    height: $base_font_size * 3.5;
    border-radius: 100px;
    font-family: sans-serif;
    text-align: center;

    &:hover, &:focus {
        color: $white;
    }

    @media #{$large} {
        display: inline-block;
    }
}