.featured {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: $space;
	
	a {
		display: block;
		box-sizing: border-box;
		padding: 1px;
		width: 100%;
	}
}

.featured-left {
	width: 100%;

}

.featured-right {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	a {
		width: 50%;
	}
}