.home-section {
	padding: ($space * 3) 0;
	//border-top: solid 1px $black30;
	box-sizing: border-box;
	min-height: 100vh;
}

.section-title {
	position: relative;
	margin-bottom: $space;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -($space / 4);
		height: 2px;
		width: 64px;
		background: $brand_blue;
	}
}