.home-section {
	padding-top: $space * 3;
	box-sizing: border-box;
	min-height: 550px;
	//margin-bottom: $space * 2;
}

.section-title {
	position: relative;
	margin-bottom: $space;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -($space / 4);
		height: 2px;
		width: 64px;
		background: $brand_blue;
	}
}

.section-featured {
	min-height: 0;
}